.form {
  width: 95%;
  max-width: 25rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #353336;
  display: block;
}

.control input {
  display: block;
  font: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e7f5ff;
  padding: 0.25rem;
  background-color: #e7f5ff;
}

.action {
  margin-top: 1.5rem;
}

.action a {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #00bcd4;
  color: #000;
  border: 1px solid #00bcd4;
}

.action a:hover {
  background-color: #008ea1;
  border-color: #008ea1;
}