* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container .titleContainer {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px auto;
}

.container .titleContainer h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.container .titleContainer p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #555;
}

.container .cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6%;
  margin: 10px auto;
  row-gap: 60px;
}

@media (max-width: 991px) {
  .container {
    margin-bottom: 2px;
  }
  .container .titleContainer p {
    font-size: 20px;
    max-width: 700px;
    text-align: center;
  }

  .container .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .container .titleContainer p {
    font-size: 18px;
  }

  .container .titleContainer h2 {
    font-size: 30px;
  }

  .container .cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

@media (max-width: 400px) {
  .container .titleContainer h2 {
    font-size: 24px;
  }
  .container .titleContainer p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 40px;
    padding: 0 auto;
    margin: 0;
    width: 100%;
  }
}
