.container {
  width: 100%;
  padding: 100px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container .title {
  display: block;
  text-align: center;
}

.container .title h2 {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 10px;
}

.container .title p {
  font-size: 24px;
  color: #555;
  margin-bottom: 60px;
}

.container .cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
}

.container .btn {
  margin-top: 40px;
}

.container .btn a {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #00bcd4;
  color: #00bcd4;
  padding: 2px 8px;
  transition: 0.4s;
}

.container .btn a:hover {
  background-color: #00bcd4;
  color: white;
  letter-spacing: 2px;
}

@media (max-width: 1170px) {
}

@media (max-width: 1060px) {
  .container .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}

@media (max-width: 700px) {
  .container .cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .container .title h2 {
    font-size: 28px;
  }

  .container .title p {
    font-size: 20px;
    max-width: 350px;
  }
  .container .btn a {
    font-size: 14px;
    padding: 1px 5px;
  }
  .container .btn {
    margin-top: 20px;
  }
}
