*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 30px;
  margin: 30px;
  background: #dcf3ff;
  box-shadow: 0.6em 0.6em 1.2em #e2dcef, -0.5em -0.5em 1em #fff;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.container .image img{
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.container .text{
  font-size: 1.2rem;
  font-weight: 1.8;
  margin-bottom: 1.6rem;
}

.container .name{
  font-size: 1.2rem;
  color: #777;
}


