* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.crumpContainer{
width: 100%;
height: 130px;
background-color: #333;
color: #fff;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.crumpContainer span{
color: #00bcd4;
}

.crumpContainer h1{
  font-size: 30px;
  margin-bottom: 16px;
}

.crumpContainer h4{
  font-size: 18px;
}

