* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bigContainer {
  width: 100%;
  padding-top: 50px;
  text-align: center;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  justify-content: center;
}

.bigContainer .title h3 {
  font-size: 2rem;
}

.bigContainer .title .links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  flex-direction: row;
  padding: 10px 100px;
  margin: 20px auto;
}

.bigContainer .title .links button {
  text-decoration: none;
  color: #00bcd4;
  border: 1px solid #00bcd4;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
}

.bigContainer .links button:hover, 
.bigContainer .links button:focus {
  background-color: #00bcd4;
  color: #fff;
}


.bigContainer .blogContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-self: center;
  justify-self: center;
  gap: 3rem;
}

.bigContainer .seeMoreBlog{
  margin: 60px auto;
}

.bigContainer .seeMoreBlog a {
  text-decoration: none;
  color: #00bcd4;
  border: 1px solid #00bcd4;
  padding: 4px 12px;
  transition: 0.5s;
  text-transform: uppercase;
  background-color: #fff;
}

.bigContainer .seeMoreBlog a:hover {
  letter-spacing: 4px;
  color: #fff;
  background-color: #00bcd4;
}

@media (max-width: 1500px) {
  .bigContainer .blogContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 1140px) {
  .bigContainer .blogContainer {
    gap: 1.5rem;
  }
}

@media (max-width: 1060px) {
  .bigContainer .blogContainer {
    grid-template-columns: repeat(2, 1fr);
   gap: 4rem;
  }
}

@media (max-width: 980px) {
  .bigContainer .title .links {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    row-gap: 12px;
    column-gap: 16px;
  }
}

@media (max-width: 960px) {
  .bigContainer .title .links {
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
}

@media (max-width: 835px) {
  .bigContainer .title .links a {
    padding: 2px 4px;
    font-weight: 500;
  }
}

@media (max-width: 770px) {
  .bigContainer .title .links {
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
}

@media (max-width: 656px) {
  .bigContainer .title .links {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width: 800px) {
  .bigContainer .blogContainer {
    gap: 2.5rem;
  }
}

@media (max-width: 760px) {
  .bigContainer .blogContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}



/* Card CSS */
/* Card CSS */
/* Card CSS */
/* Card CSS */

.container {
  width: 340px;
  box-shadow: -0.6em -0.6em 1.2em #e2dcef, -0.5em 0.5em 1em #fff;
  padding-bottom: 20px;
  transition: 0.3s;
  background-color: #fff;
}

.container:hover{
  transform: translateY(-10px);
  }

.container .image {
  opacity: 0.9;
}

.container .image img {
  width: 100%;
  height: 200px;
}

.container .text {
  padding: 12px 24px;
}

.container .text h4 {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  padding: 4px;
  border-radius: 12px;
  background-color: rgb(165, 255, 204);
  margin-bottom: 12px;
}

.container .text h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #444;
}

.container .text p {
  font-size: 16px;
  line-height: 1.5;
}

.container .text a {
  text-decoration: none;
  color: #4ea6ff;
  font-weight: 500;
}

.container .text a:hover {
  text-decoration: underline;
  color: #4ea6ff;
  font-weight: 500;
}

.container .bottomInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container .bottomInfo .writer {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.container .bottomInfo .writer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.container .bottomInfo .writer p {
  font-weight: 600;
}

.container .bottomInfo .date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .bottomInfo .date p {
  font-weight: 500;
}


@media (max-width: 760px) {
  .container {
    width: 380px;
  }
}






